[data-role=page] {
    display: inline-block;
    height: 100%;
    width: 100%;
}

[data-role=dialog] {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

[data-role=dialog] .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;    
    opacity: 0.5;
}

[data-role=dialog] [data-role=content] {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin-left: calc(50% - 150px);
    top: calc(50% - 75px);
    text-align: center;
    position: absolute;
    
    background: white;
    opacity: 1;
}

[data-role=dialog] a.close {
    background-color: white;
    background-image: url("headers/images/icons/organic/close.png");
    border: 2px double;
    border-radius: 45px;
    border-color: black;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    
    
    
}

[data-type=sidebar] {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 100%;
    overflow-x: hidden;
    background-color: gray;
    transition: width 0.1s linear;
}

[data-role=content], [data-role=page] {
    background-color: white;
    height: 100%;
}

[data-role=content] {
    margin-left: 15px;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.column1 {
    width: 80%;   
}

html, body {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

.keyboard {
    border: 1px solid black;
    padding: 0px;
    
    margin-left: auto;
    margin-right: auto;
    
    border-collapse: collapse;
}

.keyboard td, .keyboard tr {
    padding: 0px;
    margin: 0px;
}

.keyboard td.top {
    background-color: white;
    border-right: 1px solid black;
}

.keyboard td.bottom {    
    background-color: white;
    border-right: 1px solid black;
}

.keyboard td.black-notes {
    background-color: black;
}

.finger-indicator { 
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    
    display: none;
}

#chord_notes {
    font-size: xx-large;
    font-weight: bold;
}

#btnShowChord {
    float: right;
}

[data-role=content], section {
    font-size: 2rem;    
}

#main [data-role=content] div {
    text-align: center;
}

.drawer-bg {
    background: white;
    margin-top: -20px;
    height: 100%;
}

select {
    font-size: 2.5rem;
}

#chord_name, #today_chord {
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

#main select {
    width: 50px;
}

header {
    margin-bottom: 20px;
}


.two-column-table {
    width: 100%;
    vertical-align: middle; 
}

.two-column-table td:first-child {
    text-align: left;
}

.two-column-table td:last-child {
    text-align: right;
}


@media (max-width: 800px) {
    .finger-indicator {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 0.25rem;
    }
    
    .keyboard td.top {
        width: 1.5rem;
        height: 5rem;
    }
    
    .keyboard td.bottom {
        width: 3rem;
        height: 4rem;
    }
    
    .menu-button {
        display: block;
    }
    
    [data-type=sidebar] {
        width: 0px;
    }
    
    [data-type=sidebar]:target {
        width: 80%;
    }
    
    [data-type=sidebar]:target ~ [data-role=page] {
        margin-left: 80%;
    }
}

@media (min-width: 801px) {
    .finger-indicator {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.75rem;
    }
    
    .keyboard td.top {
        width: 2rem;
        height: 8rem;
    }
    
    .keyboard td.bottom {
        width: 4rem;
        height: 6rem;
    }
    
    [data-type=sidebar] {
        width: 30%;
    }
    
    [data-type=sidebar] ~ [data-role=page] {
        margin-left: 30%;
        width: 70%;
    }
    
    .menu-button {
        display: none;
    }
    
    [data-type=sidebar]:target {
        width: 30%;
    }
    
    [data-type=sidebar]:target ~ [data-role=page] {
        margin-left: 30%;
    }
    
    [data-role=dialog]:target {
        display: block;
    }
}
